<ion-header>
  <ion-toolbar>
    <ion-title>Crear Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<div class="bottom-nav">
  <a routerLink="/dashboard" routerLinkActive="active">
    <span>🏠</span>
    Inicio
  </a>

  <a routerLink="/materias" routerLinkActive="active">
    <span>📚</span>
    Materias
  </a>

  <a routerLink="/tareas" routerLinkActive="active">
    <span>✅</span>
    Tareas
  </a>

  <a routerLink="/calendario" routerLinkActive="active">
    <span>📅</span>
    Calendario
  </a>

  <a routerLink="/configuracion" routerLinkActive="active">
    <span>👤</span>
    Perfil
  </a>
</div>

<ion-content class="ion-padding">

<input
  class="study-input"
  [class.input-error]="errorTitulo"
  [(ngModel)]="tarea.titulo"
  placeholder="Título de la tarea"
/>
<p class="error-text" *ngIf="errorTitulo">Ingresa el título de la tarea.</p>

  <select class="study-input" [class.input-error]="errorMateria" [(ngModel)]="tarea.materia">
    <option *ngFor="let materia of materias" [value]="materia.nombre">
      {{ materia.nombre }}
    </option>
  </select>
<p class="error-text" *ngIf="errorMateria">Selecciona una materia.</p>

<input
  class="study-input"
  [class.input-error]="errorFecha"
  type="date"
  [(ngModel)]="tarea.fecha"
/>
<p class="error-text" *ngIf="errorFecha">Selecciona una fecha de entrega.</p>

<label class="form-label">Prioridad</label>

  <div class="priority-selector">
    <button
      type="button"
      [class.active]="tarea.prioridad === 'Baja'"
      (click)="tarea.prioridad = 'Baja'">
      Baja
    </button>

    <button
      type="button"
      [class.active]="tarea.prioridad === 'Media'"
      (click)="tarea.prioridad = 'Media'">
      Media
    </button>

    <button
      type="button"
      [class.active]="tarea.prioridad === 'Alta'"
      (click)="tarea.prioridad = 'Alta'">
      Alta
    </button>
  </div>

  <p class="error-text" *ngIf="errorPrioridad">Selecciona una prioridad.</p>

  <textarea
    class="study-input"
    [(ngModel)]="tarea.descripcion"
    placeholder="Descripción"
  ></textarea>

  <ion-button expand="block" (click)="guardarTarea()">
    Guardar Tarea
  </ion-button>

</ion-content>