<ion-header>
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<div class="bottom-nav">
  <a routerLink="/dashboard" routerLinkActive="active">
    <span>🏠</span>
    Inicio
  </a>

  <a routerLink="/materias" routerLinkActive="active">
    <span>📚</span>
    Materias
  </a>

  <a routerLink="/tareas" routerLinkActive="active">
    <span>✅</span>
    Tareas
  </a>

  <a routerLink="/calendario" routerLinkActive="active">
    <span>📅</span>
    Calendario
  </a>

  <a routerLink="/configuracion" routerLinkActive="active">
    <span>👤</span>
    Perfil
  </a>
</div>

<ion-content class="ion-padding">

  <h2 class="section-title">Calendario Académico</h2>

  <div class="study-card">
    <div class="calendar-header">
      <button (click)="mesAnterior()">◀</button>
      <h3>{{ nombreMes | titlecase }}</h3>
      <button (click)="mesSiguiente()">▶</button>
    </div>

    <div class="calendar-grid">
      <strong>L</strong>
      <strong>M</strong>
      <strong>M</strong>
      <strong>J</strong>
      <strong>V</strong>
      <strong>S</strong>
      <strong>D</strong>

      <div
        class="calendar-day"
        *ngFor="let dia of diasCalendario"
        [class.has-task]="dia.tareas.length > 0"
        (click)="seleccionarDia(dia)"
        [class.selected]="diaSeleccionado?.fecha === dia.fecha">
        {{ dia.dia }}
      </div>
    </div>
  </div>

  <div class="study-card">
    <h3>Actividades del día</h3>

    <p class="muted" *ngIf="!diaSeleccionado">
      Selecciona un día del calendario.
    </p>

    <p class="muted" *ngIf="diaSeleccionado && diaSeleccionado.tareas.length === 0">
      No hay tareas para este día.
    </p>

    <div
      class="calendar-task-card"
      *ngFor="let tarea of diaSeleccionado?.tareas">

      <h4>📌 {{ tarea.titulo }}</h4>
      <p class="muted">📚 {{ tarea.materia }}</p>
      <p class="muted">📅 {{ tarea.fecha }}</p>

      <span class="priority-badge" [ngClass]="tarea.prioridad">
        {{ tarea.prioridad }}
      </span>
    </div>
  </div>

</ion-content>