<ion-header>
  <ion-toolbar>
    <ion-title>StudyFlow</ion-title>
  </ion-toolbar>
</ion-header>

<div class="bottom-nav">
  <a routerLink="/dashboard" routerLinkActive="active">
    <span>🏠</span>
    Inicio
  </a>

  <a routerLink="/materias" routerLinkActive="active">
    <span>📚</span>
    Materias
  </a>

  <a routerLink="/tareas" routerLinkActive="active">
    <span>✅</span>
    Tareas
  </a>

  <a routerLink="/calendario" routerLinkActive="active">
    <span>📅</span>
    Calendario
  </a>

  <a routerLink="/configuracion" routerLinkActive="active">
    <span>👤</span>
    Perfil
  </a>
</div>

<ion-content class="ion-padding">

  <h2 class="section-title">Panel Principal</h2>

  <div class="study-card">
    <h3>📌 Próximas tareas</h3>

    <p class="muted" *ngIf="proximas.length === 0">
      No hay próximas tareas.
    </p>

    <div *ngFor="let tarea of proximas" class="task-preview">
      <strong>{{ tarea.titulo }}</strong>
      <p class="muted">📚 {{ tarea.materia }}</p>
      <p class="muted">📅 {{ tarea.fecha }}</p>

      <span class="priority-badge" [ngClass]="tarea.prioridad">
        {{ tarea.prioridad }}
      </span>
    </div>
  </div>

  <div class="study-card">
    <h3>📋 Resumen académico</h3>
    <p>Total de tareas: {{ tareas.length }}</p>
    <p>Completadas: {{ tareas.length - pendientes.length }}</p>
    <p>Pendientes: {{ pendientes.length }}</p>
  </div>

  <div class="study-card">
    <h3>📈 Progreso general</h3>
    <ion-progress-bar [value]="progreso"></ion-progress-bar>
    <p class="muted">{{ progreso * 100 | number:'1.0-0' }}% completado</p>
  </div>

  <ion-button expand="block" size="large" routerLink="/crear-tarea">
    ➕ Añadir Tarea Rápida
  </ion-button>

  <ion-button class="bottom-safe" expand="block" fill="outline" routerLink="/estadisticas">
    📊 Ver estadísticas
  </ion-button>

</ion-content>